<li class="clearfix" data-giftidea-id="<%= giftidea.id %>">
  <img src="<%= giftidea.picture_url %>">
  <%= raw(giftidea.name) %>
  <br>
  <%= giftidea.price %>
  <a class='giftidea-remove'><i class='icon-remove-circle'></i></a>
</li>