<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
Hi,
</p>
<p>
<%= @sender.fname %> <%= @sender.lname %> has invited you to join their White Elephant Gift Exchange on giftSpork.com 
</p>
<p>
Sign up and join the exchange <%= link_to "here", @url%>.
</p>
<p>
Happy Gifting!
</p>
</body>
</html>
