/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import url(http://fonts.googleapis.com/css?family=Kavoon|Sanchez:400italic,400|Lemon);

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  padding: 40px 0;
  position: relative;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: url(washedout_bg.jpg);
  background-size: cover;
}
.jumbotron h1 {
  font-size: 80px;
  letter-spacing: 1.25px;
  line-height: 1;
  font-family: 'Lemon', cursive;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
  font-family: 'Sanchez', serif;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAIwEqHmPyFF/4GGMBJSBLYIlyKwCTCnYFOEogCfSSj+QTYJwwR063AqACkEAGnjBgmbf5VOAAAAAElFTkSuQmCC) repeat center center;
  opacity: .4;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

@import "bootstrap";

.navbar {
  margin-bottom: 0px;
}

.navbar-inner {
  border-radius: 0;
}

.navbar .brand {
  font-family: 'Lemon', cursive;
  text-shadow: none;
  color: #fff;
}

.brand-logo {
  height: 20px;
  width: 20px;
  background: url(spogo.png) no-repeat;
  background-position: center center;
  background-size: 40%;
  background-position: center center;
}

.nav a{
  font-family: 'Sanchez', serif;
  color: #fff;
}

body {
  background: url(green-blurred-background.jpg) no-repeat;
  background-size: cover;
}

.container {
  background-color: #fff;
  opacity: 0.9;
  padding: 15px;
}

.container h1 {
  font-family: 'Lemon', cursive;
} 

.container h2, p, a{
  font-family: 'Sanchez', serif;
}

.container h3 {
  font-family: 'Sanchez', serif;
}

.view-header{
  float:left
}

#notifications-box {
  width: 20%;
  position:absolute;
  top: 5%;
  right: 2%;
  text-align: center;
  background-color:#A9D581;
  border: 1px solid #AAB776;
  line-height:10px;
  border-radius: 0;
  padding:2%
}

#notifications-box h3{
  font-family: 'Sanchez', serif;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 25px;

}

#notifications-box p{
  font-family: 'Sanchez', serif;
  color: white;
  line-height:15px;
}

#main {
  position:relative
}

.alert {
  width:30%;
  margin-left:auto;
  margin-right:auto;
}