/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import url(http://fonts.googleapis.com/css?family=Kavoon|Sanchez:400italic,400|Lemon);


@import "bootstrap";

/*  NAVBAR  */

.navbar {
  margin-bottom: 0px;
}

.navbar-inner {
  border-radius: 0;
}

.navbar .brand {
  font-family: 'Lemon', cursive;
  text-shadow: none;
  color: #fff;
}

.brand-logo {
  height: 20px;
  width: 20px;
  background: url(spogo.png) no-repeat;
  background-position: center center;
  background-size: 40%;
  background-position: center center;
}

.nav a{
  font-family: 'Sanchez', serif;
  color: #fff;
}

body {
  background: url(green-blurred-background.jpg) no-repeat;
  background-size: cover;
}

.container {
  background-color:rgba(255,255,255,0.9);
  padding: 15px;
}

#main {
  position:relative;
  min-height: 650px;
}

.alert {
  width:30%;
  margin-left:auto;
  margin-right:auto;
}

.container h1 {
  font-family: 'Lemon', cursive;
} 

.container h2, p, a{
  font-family: 'Sanchez', serif;
}

.container h3 {
  font-family: 'Sanchez', serif;
}

.container a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}

.view-header{
  float:left
}

.big-delete{
  position:absolute;
  top: 5%;
  right: 2%;  
}

