// Place all the styles related to the exchanges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  EXCHANGE INFO BOX  */

#exchange-info-box {
  width: 20%;
  position:absolute;
  top: 5%;
  right: 2%;
  text-align: center;
  background-color:rgba(234, 231, 77, 0.63);;
  border: 1px solid #E0A933;
  line-height:10px;
  border-radius: 0;
  padding:2%;
}

#exchange-info-box p{
  line-height:15px;
}