// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
  position:absolute;
  right:20px;
  top:50px;
  width:220px;
}

/*  INVITATIONS BOX  */

#invitations-box {
  top: 5%;
  right: 2%;
  text-align: center;
  background-color:#A9D581;
  border: 1px solid #AAB776;
  line-height:10px;
  border-radius: 0;
  padding:2%
}

#invitations-box h3{
  font-family: 'Sanchez', serif;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 25px;

}

#invitations-box p{
  font-family: 'Sanchez', serif;
  color: white;
  line-height:15px;
}

/*  ORGANIZED BOX  */

#organized-box {
  top: 5%;
  right: 2%;
  text-align: center;
  background-color:rgba(234, 231, 77, 0.63);;
  border: 1px solid #E0A933;
  line-height:10px;
  border-radius: 0;
  padding:2%
}

#organized-box h3{
  font-family: 'Sanchez', serif;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 25px;

}

#organized-box p{
  font-family: 'Sanchez', serif;
  color: white;
  line-height:15px;
}

/*  PARTICIPATING BOX  */

#participating-box {
  top: 5%;
  right: 2%;
  text-align: center;
  background-color:#A9D581;
  border: 1px solid #AAB776;
  line-height:10px;
  border-radius: 0;
  padding:2%
}

#participating-box h3{
  font-family: 'Sanchez', serif;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 25px;

}

#participating-box p{
  font-family: 'Sanchez', serif;
  color: white;
  line-height:15px;
}